.container{
    width: 110px;
    height: auto;
    background-color: #37517d;
    position:relative;
    font-size: small;
    color: white;
    box-shadow: 5px 0px 40px #2d2e2d;
}
.logoo{
    margin-top: 10px;
    margin-left: 10px ;
}

.menuitems{
    padding-left: 15px;
    margin-top: 25px;
}
.helping{
    background-color: white;
    color: black;
    margin: 0px 25px 0px 25px;
    border-radius: 3px;
}
.buttonver{
    margin-top: 10px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
.buttonver:hover{
    transform: scale(1.1);
}
.selected {
    background-color: green; 
    border-radius: 10px;
  }
  .buttonver{
    margin-left: 10px;
  }
  